body {
    display: grid;
    background-color: #E2E2E2;
    color: #0d0d0d;
    grid-template-columns: 360px auto;
    font-family: 'Montserrat', sans-serif;
}
aside {
    background-image: url(img/bcg/asside.jpg);
    -webkit-box-shadow: 5px 0px 30px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 5px 0px 30px 0px rgba(0,0,0,0.14);
    box-shadow: 5px 0px 30px 0px rgba(0,0,0,0.14);
    z-index: 5;
}
h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.7rem;
}
h1 span {
    font-size: 1.8rem;
    font-weight: 500;
}
header, article, .charts {
    padding: 10px 20px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.charts p {
    font-weight: 700;
    font-size: .8rem;
}
.chartBcg {
    display: block;
    width: 100%;
    height: 1.3rem;
    border: 1px solid #0d0d0d;
    margin-bottom: 6px;
}
.chartBar {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    color: white;
    font-size: .8rem;
    font-weight: 300;
    padding-left: 10px;
}
#chartP1 {
    width: 75%;
}
#chartP2 {
    width: 15%;
}
#chartP3 {
    width: 65%;
}
nav {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 160px auto auto;
    
}
button {
    outline:none;
}
.navButton {
    background-color: white;

    height: 75px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.navButton:hover {
    background-color: #E2E2E2;

}
nav .fbicon {
    justify-self: right;
    font-size: 2.2rem;
    position: relative;
    right: -38px;
    top: 4px;
}
.navButton i {
    font-size: 20px;
    padding-top: 5px;
    margin-right: 12px;
}
.fbLike {
    position: relative;
    right: -35px;
    margin: 15px 0 0 8px;
    width: 120px;
}
.likeButton {
    
    font-size: 0.7rem;
    
}
.likeButton span {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    color: white;
    background-color: #0d0d0d;
    padding: 4px 12px;
}
.likeButton span i {
    padding-left: 5px;
}
.likeButton p {
    margin: 5px 0 0 8px;
    font-size: 0.6rem;
}

.plantSelectButton, .timeSelectButton {
    height: 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
    background-color: white;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    padding: 0;
    border: 1px solid #0d0d0d;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.plantSelectButton {
    width: 100%;
}
.timeSelectButton {
    min-width: 70%;
}

.plantSelectButton:hover, .timeSelectButton:hover{
    background-color: #E2E2E2;
}


.plantSelectButton i {
    position: relative;
    bottom: 3px;
    left: 40px;
}
.timeSelectButton i {
    padding: 5px 5px 0px 5px;
}
.timeSelectButton span {
    padding-left: 0px;
}
.plantSelector{
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    font-size: 1.2rem;
    font-weight: 500;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.plantSelector ul {
    overflow-y: scroll;
    position: relative;
    background-color: white;
    border: 1px solid #0d0d0d;
    top: 10vh;
    height: 80vh;
    width: 320px;
    left: 370px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    /* text-align: center; */
    margin: 0;
    padding-inline-start: 0px;
    padding: 10px 20px;
}
.plantSelector ul::-webkit-scrollbar {
    width: .5em;
    
}
.plantSelector ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px;
    margin: 10px;
}
.plantSelector ul::-webkit-scrollbar-thumb {
    background-color: black;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }
.plantSelector ul li{
    margin: 0em;
    padding: 0em;
    list-style: none;
    cursor: pointer;
}
.plantSelector ul li:hover{
    font-weight: 700;
}

.kwitnie  {
    fill:#FECD05;
    /* stroke:black; */
   
}
svg {
fill:rgba(0,0,0,0.6);
stroke:#FFFFFF;
stroke-width:3;
}
.kwitniefull {
    background-color: orangered;
    
}
.sliderContainer{
    width: 100%;
}
/* .odcinek {
    height: 36px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(179,113,8,0) 8%, rgba(210,133,3,1) 12%, rgba(179,145,41,0) 55%, rgba(0,212,255,0) 100%);
    position: absolute;
    z-index: -1;
} */
.slider {
    width: 530px;
    margin: 7px 10px 0 10px;
    background-color: red;
}
/* MAP styles */
#mapSvg {
    height: 90vh;
}

/* 
Do wywalenia 
*/

#plantSelect {
    visibility: hidden;
}
#timeSelect{
    width: 0px;
    height: 0px;
    visibility: hidden;
    
    
}

.timeSelectButton {
    display: inline-flex;
}
.showTime {
    width:160px;

}